
<form action="/<%= title %>/new" method="POST">
  <div>
    <input
      type="text"
      name="name"
      id="card_name"
      class="new-card-input"
      required
      minlength="1"
      maxlength="100"
      placeholder="name"
    />
  </div>
  <br>
  <div>
    <input
      type="text"
      name="link"
      id="card_link"
      class="new-card-input"
      required
      minlength="1"
      maxlength="500"
      placeholder="link to the site"
    />
  </div>
  <br>
  <div>
    <% categories.forEach((category, index) => { %>
      <div class="new_card_div">
        <input
        type="checkbox"
        name="categories"
        value="<%= category.name%>"
        class="new_card_checkbox"
        />
        <span class="new_card_span"><%= category.name %></span>
        <br>
        </div>
      <% }) %>
  </div>
  <div class="checkbox-row">
    <input type="checkbox" name="published" value="1" id="published">
    <label for="published">Published</label>
  </div>
  <div>
    <button class="new-card-input">ADD</button>
  </div>
</form>